.pagination-container {
  margin-top: 4rem;
  margin-bottom: 7rem;
  display: flex;
  justify-content: center;
}

.pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.page-link {
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--page-border);
  border-radius: 6px;
  background-color: var(--page-bg);
  color: var(--page-color);
  text-decoration: none;
  font-weight: 500;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  &:hover {
    background-color: var(--page-hover-bg);
    color: var(--page-hover-color);
  }

  &.active {
    background-color: var(--page-active-bg);
    color: var(--page-active-color);
    font-weight: bold;
    pointer-events: none;
    border-color: var(--page-active-bg);
  }

  &.disabled {
    pointer-events: none;
    color: var(--page-disabled-color);
    border-color: var(--page-disabled-border);
    background-color: var(--page-disabled-bg);
  }
}
