.breed-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 250px;
  margin: 1rem;

  .card-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #1a73e8;

    &:hover {
      transform: scale(1.1);
    }
  }

  .breed-card {
    width: 250px;
    height: 300px;
    background-color: var(--card-bg);

    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 6px 16px var(--card-shadow);
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;

    img {
      width: 100%;
      height: 200px;
      object-fit: contain;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 1.2rem;
      color: var(--text);
      margin: 0;
    }
  }

  .breed-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 36px var(--hover-shadow);
  }
}
